<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a [routerLink]="['/admin/admin-panel/add-employee']" class="btn btn-info float-right mb-3">Add Employee</a>
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>F name</td>
                                <td>L name</td>
                                <td>a@gmail.com</td>
                                <td>Super Admin</td>
                                <td>Active</td>

                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info"
                                            ><i
                                                class="fas fa-pen"></i></button>
                                        <button type="button" class="btn btn-success"
                                            ><i
                                                class="far fa-check-circle"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="allData?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>