<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">

        <div  class="col-lg-3 col-6" *ngIf='+userInfo.role === 0'>
          <div class="small-box bg-info">
            <div class="inner">
              <h4></h4>
              <p style="margin-top: -7px;">Employee</p>
              <p style="margin-top: -20px;">Active : 10 </p>
              <p style="margin-top: -20px;">Inactive : 2</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <a routerLink="/admin/admin-panel/employee-list" class="small-box-footer" style="margin-top: -15px;">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div  class="col-lg-3 col-6" *ngIf='+userInfo.role === 0'>
            <div class="small-box bg-warning">
              <div class="inner">
                <h4></h4>
                <p style="margin-top: -7px;">Post</p>
                <p style="margin-top: -20px;">Active : 25 </p>
                <p style="margin-top: -20px;">Inactive : 10</p>
              </div>
              <div class="icon">
                <i class="fas fa-laptop-code"></i>
              </div>
              <a routerLink="/admin/admin-panel" class="small-box-footer" style="margin-top: -15px;">More info <i
                  class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div  class="col-lg-3 col-6" *ngIf='+userInfo.role === 0'>
          <div class="small-box bg-success">
            <div class="inner">
              <h4></h4>
              <p style="margin-top: -7px;">Demo</p>
              <p style="margin-top: -20px;">Active : 1 </p>
              <p style="margin-top: -20px;">Inactive : 1</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <a routerLink="/admin/admin-panel" class="small-box-footer" style="margin-top: -15px;">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div  class="col-lg-3 col-6" *ngIf='+userInfo.role === 0'>
          <div class="small-box bg-danger">
            <div class="inner">
              <h4></h4>
              <p style="margin-top: -7px;">Demo</p>
              <p style="margin-top: -20px;">Active : 1 </p>
              <p style="margin-top: -20px;">Inactive : 1</p>
            </div>
            <div class="icon">
              <i class="far fa-user-circle"></i>
            </div>
            <a routerLink="/admin/admin-panel" class="small-box-footer" style="margin-top: -15px;">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div  class="col-lg-3 col-6" *ngIf='+userInfo.role === 0' >
          <div class="small-box bg-warning">
            <div class="inner">
              <h4></h4>
              <p style="margin-top: -7px;">Demo</p>
              <p style="margin-top: -20px;">Active : 1 </p>
              <p style="margin-top: -20px;">Inactive : 1</p>
            </div>
            <div class="icon">
              <i class="fas fa-plane-departure"></i>
            </div>
            <a routerLink="/admin/admin-panel" class="small-box-footer" style="margin-top: -15px;">More info <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>